Source: sbuild
Section: devel
Priority: extra
Maintainer: Debian buildd-tools Developers <buildd-tools-devel@lists.alioth.debian.org>
Uploaders: Francesco Paolo Lovergine <frankie@debian.org>, Michael Banck <mbanck@debian.org>, Roger Leigh <rleigh@debian.org>
Build-Depends-Indep: debhelper (>> 4.0.0)
Standards-Version: 3.6.2

Package: sbuild
Architecture: all
Depends: ${perl:Depends}, adduser, apt, exim4 | mail-transport-agent, sudo, dpkg-dev, grep-dctrl
Recommends: fakeroot, cdebootstrap, schroot (>= 0.2.3-2)
Suggests: wget, deborphan
Description: Tool for building Debian binary packages from Debian sources
 sbuild is part of a suite of programs -- consisting of
 wanna-build, buildd and sbuild -- written by Roman Hodek and
 used by most architectures to build binary packages from source
 packages.  buildd schedules work from information it gets from
 wanna-build; sbuild does the grunt-work.
 .
 sbuild can do its work in chroots so both stable and unstable
 environments can be used on the same machine.  Useful for, say,
 building the latest unstable packages against stable library
 versions.  And by keeping only essential and build-essential
 in the chroots, you can find the correct build dependencies for
 a package.

