Source: wanna-build
Section: devel
Priority: extra
Maintainer: Ryan Murray <rmurray@debian.org>
Standards-Version: 3.6.2

Package: sbuild
Architecture: all
Priority: optional
Depends: perl5, dpkg-dev, apt (>= 0.5), libnet-perl, exim | mail-transport-agent
Recommends: sudo | super, lftp, wget, python, fakeroot
Suggests: build-essential
Description: Tool for building Debian binary packages from Debian sources
 sbuild will take one or more Debian source packages and build the 
 corresponding binary packages.  Unlike dbuild or debbuild, it knows 
 about source dependencies.
 .
 sbuild is used by the build daemon (buildd).  The package contains
 the sbuild tool itself and `andrea', a tool to auto-generate a subset
 of source dependencies for packages from a Packages file.

Package: wanna-build
Architecture: any
Depends: ${shlibs:Depends}, perl5, libmldbm-perl
Recommends: exim | mail-transport-agent, cron, wget
Suggests: gnupg
Description: Database for packages needed recompiled
 wanna-build maintains a database of packages which need (re-)compiled.

Package: buildd
Architecture: any
Depends: ${shlibs:Depends}, perl5, sbuild, dupload, cron, exim | mail-transport-agent
Description: Build daemon for automatically compiling Debian packages
 buildd is a build daemon which will recompile Debian packages
 automatically

